.App {
    position: absolute;
    left: 0;
    right: 0;

    .no-contents {
        color: #cccccc;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }

    .channel-list {
        height: 100%;
        width: calc(20% - 12px);
        display: inline-block;
        overflow: auto;
        background: #363636;
        
    }

    .channel-item {
        border-bottom: 1px solid #444444;
        padding: 10px;

        div {
            font-weight: bold;
        }

        span {
            font-size: 10px;
        }

        &:hover {
            background-color: rgb(224, 224, 224);
            cursor: pointer;
        }
    }

    .message-panel {
        height: 100%;
        width: calc(80% - 12px);
        display: inline-block;
        background:#464646;
        position: fixed;
        bottom: 30px;
        top: 0px;

        .messages {
            align-self: stretch;
            height: 100%;
            overflow: auto;
            color: rgb(210, 210, 210);

            .load-messages {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5%;

                button {
                    width: 60%;
                    background-color: #363636;
                    color: white;
                }

            }
        }

        .message-input {
            width: calc(80% - 12px);
            display: flex;
            position: fixed;
            bottom: 0;

            .file-submit {
                width: 20px;
                height: 20px;

            }
            
            input {
                margin: auto;
                height: 20px;
                width: 100%;
                margin-left: 15px;
                border-radius: 15px;
                border: 1px solid rgb(224, 224, 224);

                &:focus {
                    border-radius: 15px;
                    border: 2px solid #66a6ff;
                    outline: none;
                }
            }

            button {
                width: 60px;
                margin: auto 10px;
                background-color: #0e62da;
                color: white;
                border: 1px solid;
                border-radius: 10px;
                padding: 5px 13px;

                &:hover {
                    cursor: pointer;
                    background-color: #66a6ff;
                }
            }
        }
    }
    .message-instance {
        padding: 10px;

        .reply {
            display: none;
        }

        &:hover {
            background: #565656;

            .reply {
                display: inline-block;
                position: fixed;
                right: 10%;
                top: 6%;
            }
        }
    }
}