.App {
    position: absolute;
    left: 0;
    right: 0;

    .no-contents {
        color: #cccccc;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }

    .channel-list {
        border: 1px solid rgb(224, 224, 224);
        height: 100%;
        width: calc(20% - 12px);
        display: inline-block;
        overflow: auto;
        background: blue;
        
    }

    .channel-item {
        border-bottom: 1px solid rgb(224, 224, 224);
        padding: 10px;

        div {
            font-weight: bold;
        }

        span {
            font-size: 10px;
        }

        &:hover {
            background-color: rgb(224, 224, 224);
            cursor: pointer;
        }
    }

    .message-panel {
        border: 1px solid rgb(224, 224, 224);
        height: 100%;
        width: calc(80% - 12px);
        display: inline-block;
        background: green;
        position: fixed;
        bottom: 0;

        .messages {
            align-self: stretch;
            height: 100%;
            overflow: auto;
        }

        .message-input {
            width: calc(80% - 12px);
            border-top: 1px solid rgb(224, 224, 224);
            background-color: #f0f0f0;
            display: flex;
            position: fixed;
            bottom: 0;
            
            input {
                margin: auto;
                height: 20px;
                width: 100%;
                margin-left: 15px;
                border-radius: 15px;
                border: 1px solid rgb(224, 224, 224);

                &:focus {
                    border-radius: 15px;
                    border: 2px solid #66a6ff;
                    outline: none;
                }
            }

            button {
                width: 60px;
                margin: auto 10px;
                background-color: #0e62da;
                color: white;
                border: 1px solid;
                border-radius: 10px;
                padding: 5px 13px;

                &:hover {
                    cursor: pointer;
                    background-color: #66a6ff;
                }
            }
        }
    }
    .message-instance {
        padding: 10px;
        &:hover {
            background: #1d1d1d;
        }
    }
}